{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-10">
        <h1>N-gram Graph</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="keywords">Find papers containing</label>
                        <div class="col-md-8">
                            <input id="keywords" class="form-control" placeholder="phrase1, phrase2" type="text" value="distributed system, operating system">
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-left:0">
                    <button id="submit" class="btn btn-success" onclick="n_gram_search($('#keywords').val()); return false;">
                        <span class="spinclip">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </span>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="canvas">
        </div>
        <ul id="legends">
        </ul>
        <div id="n_gram_info">
        </div>
    </div>
</div>
<script>
n_gram_setup();
//n_gram_search("distributed system, operating system");
n_gram_search("this, paper");
</script>
{% endblock %}
